@font-face {
  font-family: 'Alice';
  src: url(./Alice-Regular.woff2) format('woff2');
}

:root {


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  font-family:'Alice',san-serif;
}
